<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>PCP ReactiveX</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Robin Bürgi, Dorus Janssens</span>
</mat-toolbar>

<div class="container">

  <mat-card>
    Total: {{ sumBitcoin }} BTC | Transaction count: {{ countTransactions }}
  </mat-card>

  <mat-card *ngFor="let transaction of transactionEvents">
    <mat-card-header>
      <mat-card-title>
        <b>{{transaction.x.hash}}</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
      <div fxFlex="100">
        <div *ngFor="let input of transaction.x.inputs">
          <p color="accent">From: {{input.prev_out.addr}}</p>
          <p>Amount: {{input.prev_out.value / 100000000 }} BTC</p>
        </div>
      </div>
      <div fxFlex="100">
        <div *ngFor="let output of transaction.x.out">
          <p color="accent">To: {{output.addr}}</p>
          <p>Amount: {{output.value / 100000000}} BTC</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>